.tooltip {
  position: absolute;
  border-radius: 5px;
  max-width: 300px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  transform-origin: -5px 15px;
  z-index: 9999;
}

.tooltip::before {
  content: '';
  position: absolute;
  left: -10px;
  top: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: transparent;
  border-right-color: rgba(0, 0, 0, 0.8);
}

.tooltip.fade-enter {
  opacity: 0;
  transform: scale(0.4) translateX(-20px);
}

.tooltip.fade-exit {
  opacity: 1;
  transform: scale(1) translateX(0);
}

.tooltip.fade-enter-active {
  opacity: 1;
  transform: scale(1) translateX(0);
  transition: all 200ms;
}

.tooltip.fade-exit-active {
  opacity: 0;
  transform: scale(0.4) translateX(-20px);
  transition: all 200ms;
}
