.formitem-input {
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 5px;
  flex: 1;
}

.formitem-textarea {
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 5px;
  flex: 1;
  min-height: 100px;
  resize: none;
}
